@{
    ViewBag.Title = "About";
}
<h2>
    Welcome to the Trash Collector
</h2>
<h3>
     Set up an account to schedule your weekly pickups
</h3>
<p>Use this area to provide additional information.</p>

@* you are using @Request.Browser.Browser *@